IPGame/IPGame/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ipgame.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Top10">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Top10Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="Top10Result" nillable="true" type="q1:ArrayOfCompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNou">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNouResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasament">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClasamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="ClasamentResult" nillable="true" type="q2:ArrayOfCompositeType2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clasamentusr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClasamentusrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="ClasamentusrResult" nillable="true" type="q3:CompositeType2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="UserHistoryResult" nillable="true" type="q4:ArrayOfCompositeType3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="char1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="char2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="victor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChampData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChampDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="ChampDataResult" nillable="true" type="q5:CompositeType4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChampName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChampNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChampNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BotFight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Atacker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myrobot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myaction" type="xs:int" />
        <xs:element minOccurs="0" name="hisrobot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hisaction" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BotFightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="BotFightResult" nillable="true" type="q6:CompositeType5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>