IPGame/IPGame/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeType" nillable="true" type="tns:CompositeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeType" nillable="true" type="tns:ArrayOfCompositeType" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfCompositeType2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeType2" nillable="true" type="tns:CompositeType2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeType2" nillable="true" type="tns:ArrayOfCompositeType2" />
  <xs:complexType name="CompositeType2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Infrangeri" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Scor" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Victorii" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType2" nillable="true" type="tns:CompositeType2" />
  <xs:complexType name="ArrayOfCompositeType3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeType3" nillable="true" type="tns:CompositeType3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeType3" nillable="true" type="tns:ArrayOfCompositeType3" />
  <xs:complexType name="CompositeType3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adversar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rezultat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType3" nillable="true" type="tns:CompositeType3" />
  <xs:complexType name="CompositeType4">
    <xs:sequence>
      <xs:element minOccurs="0" name="ma1" type="xs:double" />
      <xs:element minOccurs="0" name="ma2" type="xs:double" />
      <xs:element minOccurs="0" name="ma3" type="xs:double" />
      <xs:element minOccurs="0" name="md1" type="xs:double" />
      <xs:element minOccurs="0" name="md2" type="xs:double" />
      <xs:element minOccurs="0" name="md3" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType4" nillable="true" type="tns:CompositeType4" />
  <xs:complexType name="CompositeType5">
    <xs:sequence>
      <xs:element minOccurs="0" name="dmg" type="xs:int" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType5" nillable="true" type="tns:CompositeType5" />
</xs:schema>